/* Reset basics */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: #B51744;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: yellow;
    display: block;
    transition: 0.2s;
}

.sidebar a:hover {
    background-color: #0056b3;
}

.sidebar .closebtn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 30px;
    color: white;
}

/* Main area */
.main {
    margin-left: 0;
    transition: margin-left .3s;
    padding: 20px;
    text-align: center;
}

/* Hamburger icon */
.hamburger {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 20px;
    color: #B51744;
}

/* Center content */
.content {
    margin-top: 100px;
}

.logo {
    width: 512px;
    margin-bottom: 10px;
}

/* Text under Logo */
.home-title {
  color: #F1B61C;
}

.now-playing {
  color: #F1B61C;
}