{% extends "base.html" %}
{% block title %}Multi-Channel Schedule{% endblock %}
{% block content %}

<heading class="{{ request.endpoint|default('') }}">TV Guide</heading>
<!-- Add a page-specific class to the body E.g. body.multischedule or body.something else in the css -->
<!-- <body class="{{ request.endpoint|default('') }}"> -->

<div class="channels-grid">
    {% for channel in channels %}
        <div class="channel-card">
            <h2>{{ channel.channel_name }}</h2>

            {% if channel.entries %}
                {% for entry in channel.entries %}
                    <div class="entry">
                        <div class="time"><strong>{{ entry.time }}</strong></div>
                        <div class="title">{{ entry.filepath }}</div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No schedule</p>
            {% endif %}
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}
